<footer>
  <div class="footer__content">
    <nav class="contact__menu">
      <ul>
        <li><a href="#" class="icon-facebook-official" aria-label="Facebook"></a></li>
        <li><a href="#" class="icon-instagram" aria-label="Instagram"></a></li>
        <li><a href="mailto:info@indapot.com" class="icon-mail" aria-label="Email Us"></a></li>
      </ul>
    </nav>
    <nav class="footer__menu">
      <ul>
        <li><a href="#">Kickstarter</a>
        <li><a href="/faq">Frequently Asked Questions</a>
        <li><a href="/wholesale">Wholesale Clients</a>
      </ul>
    </nav>
    <div class="footer__body">
      <p>Copyright &copy; 2019 Indapot</p>
    </div>
  </div>
</footer>
</body>
</html>