<footer>
  <div class="footer__content">
    <nav class="contact__menu">
      <ul>
        <li><a href="https://www.facebook.com/Indapots/" class="icon-facebook" aria-label="Facebook"></a></li>
        <li><a href="https://www.instagram.com/indapot_plants/" class="icon-instagram" aria-label="Instagram"></a></li>
        <!-- <li><a href="#" class="icon-twitter" aria-label="Twitter"></a></li> -->
        <li><a href="https://www.youtube.com/channel/UCGjMT1RuQGD-faElTmEgDvA" class="icon-youtube" aria-label="YouTUbe"></a></li>
        <li><a href="mailto:info@indapot.com" class="icon-mail" aria-label="Email Us"></a></li>
      </ul>
    </nav>
    <nav class="footer__menu">
      <ul>
        <li><a href="#">Kickstarter</a>
        <li><a href="/faq">Frequently Asked Questions</a>
        <li><a href="/wholesale.html">Wholesale Clients</a>
      </ul>
    </nav>
    <div class="footer__body">
      <p>Copyright &copy; 2019 Indapot</p>
    </div>
  </div>
</footer>
</body>
</html>