<footer>
  <div class="footer__content">
    <div class="footer__body">
      <p>Copyright &copy; 2019, Indapot</p>
    </div>
    <nav class="footer__menu">
      <ul>
        <li><a href="mailto:info@indapot.com">info@indapot.com</a></li>
        <li><a href="#">Kickstarter</a>
        <li><a href="/faq">FAQ</a>
        <li><a href="/wholesale">Wholesale Clients</a>
      </ul>
    </nav>
  </div>
</footer>
<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">window.dojoRequire(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us3.list-manage.com","uuid":"359d1006b19372dd15734d159","lid":"a387d34bfc","uniqueMethods":true}) })</script>
</body>
</html>