<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Indapot | {{ page.title }}</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="assets/js/jquery.fancybox.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/jquery.fancybox.min.css">
  <script src="assets/js/menu.js"></script>
</head>
<body{% if page.url == "/" %} class="home"{% endif %}>
  <header class="header">
    <nav class="mainNav">
      <h1 class="main__title">Meet Indapot</h1>
      <a href="#" class="list-toggle">
        Menu
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </a>
      <ul class="mainNav__list is-hidden">
        <li class="mainNav__listItem">
          <a href="/"{% if page.url == "/" %} class="active"{% endif %}>Home</a>
        </li>
        <li class="mainNav__listItem">
          <a href="#">Kickstarter</a>
        </li>
        <li class="mainNav__listItem">
          <a href="faq.html"{% if page.url == "/faq.html" %} class="active"{% endif %}>FAQ</a>
        </li>
      </ul>
    </nav>
  </header>