<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Indapot</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
</head>
<body>
<header>
    <nav class="mainNav">
        <ul class="mainNav__list">
            <li class="mainNav__listItem">
                <a href="#">Benefits</a>
            </li>
            <li class="mainNav__listItem">
                <a href="#">Kickstarter</a>
            </li>
            <li class="mainNav__listItem">
                <a href="faq.html">FAQ</a>
            </li>
        </ul>
    </nav>