---
---
@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700,700i|Signika:400,700');

$primary-dark: #237E4F; //Dark Green
$secondary-dark: #2C2020; //Dark Brown
$tertiary-dark: #365C1C;

$primary-light: #6BB245;
$secondary-light: #BAE269;
$tertiary-light: #EDF8CE; //Very light green

$header--height: 6rem;
$play-height: 5rem;

$centered-columns: minmax(1rem, 1fr) minmax(10rem, 60rem) minmax(1rem, 1fr);
$header-columns: 8rem 1fr 1fr;

body {
  font-family: 'Noto Serif', serif;
  margin: 0;
  padding: 0;

  color: $secondary-dark;
}

figure {
  margin: 0;
  padding: 0;
}

header.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  height: $header--height;
  width: 100%;

  display: grid;
  grid-template-rows: $header--height;
  grid-template-columns: $centered-columns;

  background: $secondary-dark;
}

header a {
  
}

main {
  margin-top: $header--height;
}

main section {
  display: grid;
  grid-template-columns: $centered-columns;
}

section header, section main {
  grid-column: 2;
  margin: 0;
  border: 0;
  padding: 0;
}

h1, h2 {
  font-family: 'Signika', sans-serif;
  color: $primary-dark;
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin-top: 3rem;
}

.mainNav {
  grid-row: 1;
  grid-column: 2;
  display: grid;
  grid-template-columns: $header-columns;

  background: $secondary-dark;

  font-family: 'Signika', sans-serif;
}

.main__title {
  grid-column: 1;
  background: url(../images/indapot-logo.svg) no-repeat;
  text-indent: -999rem;
  height: $header--height;
  width: 8rem;
  margin: 0;
}


.mainNav__list {
  grid-column: 3;
  list-style: none;

  padding: 0;
  margin: 0;
  height: $header--height;
  
  display: flex;
}

.mainNav__listItem {
  flex: 1;

  height: 100%;
  align-content: flex-end;

  a {
    display: inline-block;

    color: $tertiary-light;

    height: $header--height;
    width: 100%;

    font-size: 1.2rem;
    font-weight: bold;
    line-height: 9rem;
    text-decoration: none;
    text-align: center;

    &:hover {
      background-color: $primary-dark;
      line-height: 8rem;
    }
  }
}

.hero {
  display: block;
  position: relative;

  width: 100vw;
  height: 25rem;

  background-image: url(../images/hero-photo.jpg);
  background-size: cover;
  background-position: 50% 40%;
  background-repeat: no-repeat;
}

#video_play {
  position: absolute;
  top: calc(50% - #{$play-height}/2);
  left: calc(50% - #{$play-height}/2);

  height: $play-height;
  width: $play-height;

  border-radius: $play-height;
  background: #ffffff;
  box-shadow: 0 0 0px 5px $primary-dark;

  text-indent: -999rem;

  transition: transform .1s linear;

  &:after {
    content: "\25B8";
    display: block;

    position: absolute;
    top: -.5rem;
    left: 1.4rem;

    color: black;

    font-size: 4rem;
    text-indent: 0;

    transform: scaleX(1.5);
  }

  &:hover {
    transform: scale(1.2);
  }
}

.hero__content {
  grid-column: 2;
  font-family: 'Signika', sans-serif;
  font-size: 2rem;
  font-weight: 700;
}

.kickstarter {
  height: 6rem;
  background: $tertiary-dark;
  color: $secondary-light;

  main {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h2 {
    color: $secondary-light;
  }
}

.kickstarter__link {
  display: inline-block;

  background: $primary-light;
  color: $tertiary-light;

  height: 3rem;
  padding: .5rem;
  border-radius: .5rem;

  text-decoration: none;
  font-family: 'Signika', sans-serif;
  font-size: 1.5rem;
  line-height: 3rem;
  font-weight: bold;

  transition: all .3s ease-out;

  &:hover {
    background-color: lighten($tertiary-dark, 10%);
    transform: scale(1.05) translateY(.2rem);
  }
}

.benefits {
  display: block;
}

.benefits__benefit {
  display: grid;
  grid-template-columns: 60% 1fr 1rem;
  grid-column-gap: 1rem;

  border-bottom: 2px solid transparent;

  .benefit__title, .benefit__content {
    grid-column: 2;
  }

  .benefit__figure {
    grid-column: 1;
    grid-row: 1 / span 2;
    min-height: 15rem;
    background: gray;
  }

  &:nth-child(even){
    grid-template-columns: 1rem 1fr 60%;

    .benefit__title, .benefit__content {
      grid-column: 2;
    }

    .benefit__figure {
      grid-column: 3;
    }
  }
}

footer {
  background: $secondary-dark;
  color: #ffffff;
  margin: 5rem 0 0;
  border: 1px solid transparent;

  display: grid;
  grid-template-columns: $centered-columns;
}

.footer__content {
  grid-column: 2;
  margin: 2rem 0;
}
