---
---
@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700,700i|Signika:400,700');

$primary-dark: #237E4F; //Dark Green
$secondary-dark: #2C2020; //Dark Brown
$tertiary-dark: #365C1C;

$primary-light: #6BB245;
$secondary-light: #BAE269;
$tertiary-light: #EDF8CE; //Very light green

body {
    font-family: 'Noto Serif', serif;
    margin: 0;
    padding: 0;

    color: $secondary-dark;
}

figure {
    margin: 0;
    padding: 0;
}

header {
    display: grid;
    grid-template-rows: 3rem;

}

.home header {
    grid-template-rows: 3rem minmax(20rem, auto);
    background: $tertiary-light;
}

header a {
    
}

main {
    width: 90vw;
    max-width: 50rem;
    margin: 0 auto;
}

h1, h2 {
    font-family: 'Signika', sans-serif;
    color: $primary-dark;
}

h1 {
    font-size: 2rem;
    text-align: center;
    margin-top: 3rem;
}

.mainNav {
    grid-row: 1;

    background: $secondary-dark;

    font-family: 'Signika', sans-serif;
}

.mainNav a {
    color: $tertiary-light;
    text-decoration: none;
    height: 3rem;
    line-height: 3rem;
}

.mainNav__list {
    list-style: none;

    width: 90vw;
    max-width: 50rem;
    margin: 0 auto;
    padding: 0;
    height: 2rem;

    
    display: flex;
    justify-content: space-between;
}

.mainNav__listItem {
    height: 100%;
    align-items: center;
}

.hero {
    grid-row: 2;

    width: 90vw;
    max-width: 50rem;
    margin: 0 auto;
    padding: 4rem 0;

    background-image: url(../images/hero-placeholder.jpg);
    background-size: 120%;
    background-position: 20% 60%;
    background-repeat: no-repeat;
}

.hero__content {
    width: 20rem;
    font-family: 'Signika', sans-serif;
    font-size: 2rem;
    font-weight: 700;
}

.hero__title {
    background: url(../images/indapot-logo.svg) no-repeat;
    background-size: 80%;
    text-indent: -999rem;
    height: 9rem;
    width: 12rem;
    margin: 0;
}

.hero__kickstarterLink {
    display: inline-block;

    background: $tertiary-dark;
    color: $tertiary-light;

    padding: .5rem;
    border-radius: .5rem;

    text-decoration: none;
    font-family: 'Signika', sans-serif;

    transition: all .3s ease-out;

    &:hover {
        background-color: lighten($tertiary-dark, 10%);
        transform: scale(1.05) translateY(.2rem);
    }
}

.benefit-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    justify-items: center;

    perspective: 1000px;
    perspective-origin: 0 20%;
}

.benefit__figure {
    background: grey;
}

.benefits__benefit {
    background: lighten($tertiary-light, 5%);
    color: $secondary-dark;
    // box-shadow: 0 1rem 2rem lighten($secondary-dark, 20%);
    // box-shadow: 0 .2rem .5rem darken($tertiary-light, 30%);

    border-radius: .5rem;
    padding: 1rem;

    transform-origin: 0;
    transition: all .2s ease-out;

    .benefit__title {
        color: $tertiary-dark;
        margin-top: 0;
    }

    .benefit__content {
        grid-row: 2;
    }

    &:hover {
        z-index: 1;
        transform: scale(1.05);
    }

    // &:hover {
    //     transform: rotateY(10deg) translate3d(-10%, 0, 4rem);
    // }

    // &:nth-child(1){ transform: rotate(10deg);}
    // &:nth-child(3){ transform: rotate(-20deg);}
    // &:nth-child(4){ transform: rotate(14deg);}
    // &:nth-child(5){ transform: rotate(-5deg);}
    // &:nth-child(1){ transform: rotate(10deg);}
    // &:nth-child(1){ transform: rotate(10deg);}

    // &:nth-child(even){
    //     .benefit__content {
    //         grid-column: 1;
    //     }

    //     .benefit__figure {
    //         grid-column: 2;
    //         grid-row: 2;
    //     }
    // }

    // &:nth-child(odd){
    //     grid-template-columns: 1fr 70%;
    //     .benefit__content {
    //         grid-column: 2;
    //     }

    //     .benefit__figure {
    //         grid-column: 1;
    //         grid-row: 2;
    //     }
    // }
}

.benefits__great {
    display: grid;
    grid-template-columns: 70% 1fr;
    grid-column-gap: 1rem;

    background: lighten($tertiary-light, 5%);
    color: $secondary-dark;
    // box-shadow: 0 1rem 2rem lighten($secondary-dark, 20%);
    // box-shadow: 0 .2rem .5rem darken($tertiary-light, 30%);

    border-radius: .5rem;
    padding: 1rem;

    margin-bottom: 1rem;

    transform-origin: 0;
    transition: all .2s ease-out;

    .benefit__title {
        grid-column: 2;
        grid-row: 1;
        margin-top: 0;

        text-align: right;
    }

    .benefit__figure {
        grid-row: 1 / span 2;
    }

    &:nth-child(even){
        .benefit__title {
            grid-column: 1;
            text-align: left;
        }
        .benefit__content {
            grid-column: 1;
            grid-row: 2;
        }

        .benefit__figure {
            grid-column: 2;
        }
    }

    &:nth-child(odd){
        grid-template-columns: 1fr 70%;
        .benefit__content {
            grid-column: 2;
            grid-row: 2;
        }

        .benefit__figure {
            grid-column: 1;
        }
    }
}

footer {
    background: $secondary-dark;
    color: #ffffff;
    margin: 5rem 0 0;
    border: 1px solid transparent;
}

.footer__content {
    width: 90vw;
    max-width: 50rem;
    margin: 2rem auto;
}
