{% include _header.html %}
<main>
  <section class="hero">
      <div id="video">
      </div>
      <a href="#" id="video_play">Play</a>
    </div>
  </section>
  <section class="kickstarter">
    <main>
      <a href="#" class="kickstarter__link">Back the Project on Kickstarter</a>
    </main>
  </section>
  <section class="intro">
    <header>
      <h1 class="intro__title">{{ page.intro_title }}</h1>
    </header>
    <main class="section__content intro__content">
      {{ page.intro }}
    </main>
  </section>
  <section class="benefits" id="benefits">
    <header>
      <h1>What makes Indapot <strong>better?</strong><span></span></h1>
    </header>
    <main class="benefits">
      {% for benefit in page.benefits_better %}
        <article class="benefits__benefit">
        <h2 class="benefit__title">{{ benefit.title }}</h2>
        <div class="benefit__content">
          <p>{{ benefit.content }}</p>
        </div>
        <figure class="benefit__figure">
          <img src="{{ benefit.image }}">
        </figure>
      </article>
      {% endfor %}
    </main>
  </section>
  <section class="benefits" id="great">
    <header>
      <h1>What makes Indapot <strong>great?</strong><span></span></h1>
    </header>
    <main class="benefits">
      {% for benefit in page.benefits_great %}
        <article class="benefits__benefit">
        <h2 class="benefit__title">{{ benefit.title }}</h2>
        <div class="benefit__content">
          <p>{{ benefit.content }}</p>
        </div>
        <figure class="benefit__figure">
          <img src="{{ benefit.image }}">
        </figure>
      </article>
      {% endfor %}
    </main>
  </section>

  <a href="#" class="kickstarter__link">Back the Project on Kickstarter</a>
</main>
{% include _footer.html %}