{% include _header.html %}
<main>
  <section class="hero">
    <div class="hero__content">
      <p>“The world's most indestructable pot”</p>
    </div>
  </section>
  <section class="kickstarter">
    <main>
      <h2>1,585 Backers and counting!</h2>
      <a href="#" class="kickstarter__link">Back the Project</a>
    </main>
  </section>
  <section class="intro">
    <header>
      <h1 class="intro__title">Meet Indapot</h1>
    </header>
    <main class="section__content intro__content">
      <p>Horticulture hasn’t changed much in, oh, a couple of millenia. Neither have pots. We’re using the same terra cotta containers as the ancient Greeks. I mean, Aristotle was a smart guy, but you shouldn’t have to plant your perennials like he did.</p>
      <p>Indapot gives you a reason to break those clay pots on purpose — instead of by accident, which is how you’ve been breaking them since forever. That’s because Indapot is a really real, totally not hyperbolic, super legit revolution in home gardening.</p>
      <p>How revolutionary are we talking here? Let’s just say that you could stick a tri-corner hat on one of these bad boys and send it across the Delaware. (How cute would that be, by the way? Little George Washington-looking planter.)</p>
      <p>Okay, on to our Declaration of Indo-pendence! (Be prepared, the puns are going to come hot and fast.)</p>
    </main>
  </section>
  <section class="benefits" id="benefits">
    <header>
      <h1>What makes Indapot better?</h1>
    </header>
    <main class="benefit-group">
      <article class="benefits__benefit">
        <h2 class="benefit__title">Unbreakable</h2>
        <div class="benefit__content">
          <p>No more shattered dreams and tear-soaked soil. Under normal (and most abnormal) use, these suckers will not crack, tear, warp, or fail.</p>
        </div>
        <figure class="benefit__figure">
        </figure>
      </article>

      <article class="benefits__benefit">
        <h2 class="benefit__title">Lightweight</h2>
        <div class="benefit__content">
          <p>You’ll be happy to lug your plant buddies around. Seriously, you could comfortably wear an Indapot as a helmet. Devo, call us!</p>
        </div>
        <figure class="benefit__figure">
        </figure>
      </article>

      <article class="benefits__benefit">
        <h2 class="benefit__title">Pliable</h2>
        <div class="benefit__content">
          <p>Cram this thing wherever. Yeah, that’s kind of a dare. It’ll bounce right back to the same shape you first fell in love with. Pot-shaped.</p>
        </div>
        <figure class="benefit__figure">
        </figure>
      </article>

      <article class="benefits__benefit">
        <h2 class="benefit__title">Rigid</h2>
        <div class="benefit__content">
          <p>Once you fill it, you won’t spill it. Hey, that rhymed! We’ve calibrated the tensile strength of our Indapots to perfection, because we like doing that sort of thing.</p>
        </div>
        <figure class="benefit__figure">
        </figure>
      </article>

      <article class="benefits__benefit">
        <h2 class="benefit__title">Resilient</h2>
        <div class="benefit__content">
          <p>Never met a temperature it didn’t like. Okay, it didn’t like -150 or 600 degrees Fahrenheit. Still! Also, silicone is nonporous, so it freezes and thaws like a champ — no fracture or failure. This thing can even take on acids and radiation. (What are you, a mad scientist or something?)</p>
        </div>
        <figure class="benefit__figure">
        </figure>
      </article>

      <article class="benefits__benefit">
        <h2 class="benefit__title">Colorfast</h2>
        <div class="benefit__content">
          <p>Indapots repel water and sunlight like superheroes deflect bullets. They do not, however, deflect bullets. Our lawyers forced us to say that. Anyway, your Indapots won’t fade or break down because of weather or UV exposure.</p>
        </div>
        <figure class="benefit__figure">
        </figure>
      </article>

      <article class="benefits__benefit">
        <h2 class="benefit__title">Food grade and hypoallergenic</h2>
        <div class="benefit__content">
          <p>Not sure why you’d want to eat off of it, but you could eat off of it. Seriously, fungus and bacteria are as bad for plants as they are for humans — good thing they hate silicone. They’re, like, the only living things that hate silicone.</p>
        </div>
        <figure class="benefit__figure">
        </figure>
      </article>

      <article class="benefits__benefit">
        <h2 class="benefit__title">Dishwasher-safe</h2>
        <div class="benefit__content">
          <p>Efflorescence is a thing of the past. No, we did not make that word up — it means “salt build-up.” Forget chemical build-up, too. Really, with Indapot, the only thing you’ll be building up is confidence in your green thumb.</p>
        </div>
        <figure class="benefit__figure">
        </figure>
      </article>

      <article class="benefits__benefit">
        <h2 class="benefit__title">Recyclable</h2>
        <div class="benefit__content">
          <p>This Indapot will be with you for the long haul. But if the prospect of an eternity spent with a planter freaks you out, cut it up into pot holders, or send it to the farm (i.e. a silicone recycling facility).</p>
        </div>
        <figure class="benefit__figure">
        </figure>
      </article>

      <article class="benefits__benefit">
        <h2 class="benefit__title">Not Plastic and not clay</h2>
        <div class="benefit__content">
          <p>In the end, it’s as simple as that, right? Plastic is gross — BPA, PVC, phthalates — and clay is crap. Sorry, we’re just really worked up about junky pottery. Not your pottery artwork, though. It’s great, honest.</p>
        </div>
        <figure class="benefit__figure">
        </figure>
      </article>
    </main>
  </section>
  <section class="great" id="great">
    <header>
      <h1>What makes Indapot great?</h1>
    </header>
    <main>
      <article class="benefits__great">
        <h2 class="benefit__title">A variety of sizes and shapes</h2>
        <div class="benefit__content">
          <p>Grow that cute little succulent or your next tomato plant monstrosity. We’ve got a size for every plant project.</p>
        </div>
        <figure class="benefit__figure">
          <figcaption>Illustration Here</figcaption>
        </figure>
      </article>
      <article class="benefits__great">
        <h2 class="benefit__title">Multiple colors</h2>
        <div class="benefit__content">
          <p>Match your outdoor décor or get really weird and go clear. (Actually, there are plenty of practical benefits to clear planters, but it’s still kind of strange.)</p>
        </div>
        <figure class="benefit__figure">
          <figcaption>Illustration Here</figcaption>
        </figure>
      </article>
      <article class="benefits__great">
        <h2 class="benefit__title">Imprinted soil guide</h2>
        <div class="benefit__content">
          <p>Throw together your own ideal potting mix, you nerd — the ratios are right inside your Indapot. Is that level of DIY just TMI for you? Don’t worry, the store-bought stuff won’t hurt its feelings.</p>
        </div>
        <figure class="benefit__figure">
          <figcaption>Illustration Here</figcaption>
        </figure>
      </article>
      <article class="benefits__great">
        <h2 class="benefit__title">Sales support gardening in schools</h2>
        <div class="benefit__content">
          <p>Children already get their hands dirty. Indapots gives growing growers the a good reason to. After all, they’ll be the gardeners of the future — a future where they’ll fly to their moon gardens on rocket ships piloted by robots.</p>
        </div>
        <figure class="benefit__figure">
          <figcaption>Illustration Here</figcaption>
        </figure>
      </article>
    </main>
  </section>
</main>
{% include _footer.html %}