{% include _header.html %}
<main>
  <section class="hero">
    {% if page.intro_video %}
      <a href="{{ page.intro_video }}" data-fancybox="videos" aria-label="Play Video"></a>
    {% endif %}
    </div>
  </section>
  <section class="kickstarter">
    <main>
      <a href="#" class="kickstarter__link">Back the Project on Kickstarter</a>
    </main>
  </section>
  <section class="intro">
    <header>
      <h1 class="intro__title"><strong>{{ page.intro_title }}</strong><span></span></h1>
    </header>
    <main class="section__content intro__content">
      {{ page.intro }}
    </main>
  </section>
  <section class="benefits" id="benefits">
    <header>
      <h1>What makes Indapot <strong>better?</strong><span></span></h1>
    </header>
    <main class="benefits">
      {% for benefit in page.benefits_better %}
        <article class="benefits__benefit">
        <h2 class="benefit__title">{{ benefit.title }}</h2>
        <div class="benefit__content">
          <p>{{ benefit.content }}</p>
        </div>
        <figure class="benefit__figure">
        {% if benefit.video %}<a href="{{ benefit.video }}" data-fancybox="videos">{% endif %}
          <img src="{{ benefit.image }}">
        {% if benefit.video %}</a>{% endif %}
        </figure>
      </article>
      {% endfor %}
    </main>
  </section>
  <section class="benefits" id="great">
    <header>
      <h1>What makes Indapot <strong>great?</strong><span></span></h1>
    </header>
    <main class="benefits">
      {% for benefit in page.benefits_great %}
        <article class="benefits__benefit">
        <h2 class="benefit__title">{{ benefit.title }}</h2>
        <div class="benefit__content">
          <p>{{ benefit.content }}</p>
        </div>
        <figure class="benefit__figure">
          <img src="{{ benefit.image }}">
        </figure>
      </article>
      {% endfor %}
    </main>
  </section>

  <a href="#" class="kickstarter__link">Back the Project on Kickstarter</a>

  <!-- Begin Mailchimp Signup Form -->
<div id="mc_embed_signup">
<form action="https://indapot.us3.list-manage.com/subscribe/post?u=359d1006b19372dd15734d159&amp;id=a387d34bfc" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
  <h2>Subscribe</h2>
  <p>Subscribe for news and updates.</p>
<div class="mc-field-group">
  <label for="mce-EMAIL">Email Address </label>
  <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
  <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
</div>
  <div id="mce-responses" class="clear">
    <div class="response" id="mce-error-response" style="display:none"></div>
    <div class="response" id="mce-success-response" style="display:none"></div>
  </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_359d1006b19372dd15734d159_a387d34bfc" tabindex="-1" value=""></div>
    
    </div>
</form>
</div>

<!--End mc_embed_signup-->
</main>
{% include _footer.html %}